$visual-grid:true;
@import
 '../bower_components/bourbon/app/assets/stylesheets/bourbon';
@import '../bower_components/neat/app/assets/stylesheets/neat';

*{
  box-sizing: border-box;
}


body {
  @include outer-container(1130px);
  background-image: url("../img/bg.jpg");
  font-family: Open Sans;
  margin-bottom: 20px;
}

body a{
  text-decoration: none;
}

nav {
  @include span-columns(12);
}

nav a {
  @include span-columns(3);
  background-color:red;
  text-align: center;
  color:white;
  height:40px;
  bottom-margin:20px;
}

.imgButton {
  height:70px;
}


.banner {
  @include span-columns(12);
  height: 360px;
  background-image: url("../img/top-image.png");
  border: white 12px solid;
  box-shadow:0 5px 0  grey;
  margin-bottom: 30px;
  position:relative;
}

.logo{
  position:absolute;
  padding-top: 50px;
}

article{
  @include span-columns(4);
  border-color: white solid 4px;
  background-color:white;
  height:350px;
  box-shadow:0 5px 0  grey;
}

.articles a{
  text-align: middle;
}
.sk8er img{
  @include span-columns(3);
  height: 232px;
  box-shadow:0 5px 0  grey;
  margin-bottom:30px;
}
/* .sk8er img:last-child{
  @include span-columns(8);
}

.sk8er img:nth-child(3){
  height: 468px;
}
 */

 .skateboards{
   @include span-columns(12);

 }

 .contact{
   @include span-columns(12);

 }
